<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdicionaPaciente</servlet-name>
        <servlet-class>com.servlet.AdicionaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaMedico</servlet-name>
        <servlet-class>com.servlet.AdicionaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir</servlet-name>
        <servlet-class>com.servlet.Excluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaMedico</servlet-name>
        <servlet-class>com.servlet.atualizaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaPaciente</servlet-name>
        <servlet-class>com.servlet.atualizaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizaTratamento</servlet-name>
        <servlet-class>com.servlet.atualizaTratamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adicionaTratamento</servlet-name>
        <servlet-class>com.servlet.AdicionaTratamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionaPaciente</servlet-name>
        <url-pattern>/AdicionaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaMedico</servlet-name>
        <url-pattern>/AdicionaMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir</servlet-name>
        <url-pattern>/Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaMedico</servlet-name>
        <url-pattern>/atualizaMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaPaciente</servlet-name>
        <url-pattern>/atualizaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizaTratamento</servlet-name>
        <url-pattern>/atualizaTratamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adicionaTratamento</servlet-name>
        <url-pattern>/adicionaTratamento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
